{
    "username": "",
    "email": "",
    "password": "",
    "wrongPassword": "",
    "title": "Mr",
    "birthday": {
        "day": "",
        "month": "",
        "year": ""
    },
    "firstName": "",
    "lastName": "",
    "company": "",
    "address": "",
    "address2": "",
    "country": "",
    "state": "",
    "city": "",
    "zipCode": "",
    "mobileNumber": "",
    "contact": {
        "subject": "",
        "message": "",
        "pathFile": ""
    }
}